!!!
%html
  %head
    %title Dedicated HR Manager
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      = render 'shared/navbar'
      - unless notice.blank? && alert.blank?
        - unless notice.blank?
          %p.notice= notice
      - unless alert.blank?
        .notification.red
          %p.alert= alert

    %section
      = yield
    %footer

    :javascript
      $(document).ready(function(){
        AdminHr.init()
      });
